* {
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  padding: 10px;
  margin: 0;
  font-size: 28px;
  background color: #f234fgr;
  transition: background-color .5s;
}
header { 
  padding: 40px;
  text-align: center;
  color: black; 
  background: linear-gradient(black,blue,white);
}
header h1 {
  font-size: 60px;
  font-family: "Eagle Lake", cursive;
  color: white;
}

header h1, img {
  text-align: center;
  display: inline-block;
}

header img {
  -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4))
}
header img:hover {
  transform: scaleX(-1);
}
.titolo{
  font-family: "Eagle Lake", cursive;
}
#navbar-logo {
  font-family: "Eagle Lake", cursive;
}

.bg-blue {
  background-color: lightblue;
}
  
.btn-success {
  margin-left: 5px;
}

.background-costellazioni {
  background-attachment: fixed; 
  background-image: url("../img/costellazioni.jpeg");
  background-size: cover; 
  background-repeat: no-repeat;
  height: 100%; 
  background-position: center;
}

.background-opacity {
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; 
  width: 100%; 
  padding: 20px; 
}

.background-grey {
  background-color: grey;
  color: black;
}

.background-lightgrey {
  background-color: lightgrey;
}

.background-azul {
  background: linear-gradient(white,blue,white);
}

.img-comp-container {
  position: relative;
  height: 300px; /*should be the same height as the images*/
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-comp-img img {
  display: block;
  vertical-align: middle;
}

.img-comp-slider {
  position: absolute;
  z-index:9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: ;
  opacity: 0.7;
  border-radius: 50%;
}

.background-card {
  background: linear-gradient(white,blue, white);
  border: 1px solid rgba(0,0,0,.125); 
  border-radius: .25rem; 
}

.background-linear {
  background: linear-gradient(white,blue,white);
}

#progetto h1 {
  text-align: center;
  padding: 40px;
}

footer ul > li {
list-style: none;
margin: 0;
padding: 0;
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0px 5px 40px -10px rgba(122, 144, 173, .9); -webkit-box-shadow: 0px 5px 40px -10px rgba(38, 44, 52, .9); -moz-box-shadow: 0px 5px 40px -10px rgba(38, 44, 52, .9);}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}    

#presentazione {
  text-align: center;
}

.form-iscrizione {
  text-align: center;
  padding: 80px;
}

.form-iscrizione h2 {
  color: white;
}

.link-dark{
  text-decoration: none;
}

.text-lightblue {
  color: #1c82f4;;
}

.text-yellow {
  color: yellow;
}

.content {
  position: absolute; 
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; 
  width: 100%; 
  padding: 20px; 
}

.form-group {
  text-align: center;
}

.zoom {
  transition: transform .2s;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}


